:root {
  --djPlayer-background-color: #181f2a;
  --djPlayer-border-color: #bbdefb;
  --djPlayer-low-circle-color: rgba(100, 58, 183, 0.55);
  --djPlayer-medium-circle-color: rgba(93, 58, 183, 0.55);
  --djPlayer-high-circle-color: rgba(78, 58, 183, 0.55);
}

body {
  background: var(--djPlayer-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 200px;
}

* {
  box-sizing: border-box;
}

.djPlayer-plane-block {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#djPlayer-plate {
  width: 75%;
  height: 75%;
  background: url("https://images.news18.com/ibnlive/uploads/2022/06/indian-tutorials.png");
  background-size: cover;
  background-position: center;
  border: 5px solid var(--djPlayer-border-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinPlate 30s linear infinite;
  animation-play-state: paused;
  cursor: pointer;
}

#djPlayer-plate::before {
  content: "";
  width: 7%;
  height: 7%;
  position: absolute;
  background: var(--djPlayer-background-color);
  border-radius: 50%;
  border: 2px solid var(--djPlayer-border-color);
}

.djPlayer-circle {
  position: absolute;
  min-height: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: -1;
  transition: border-radius 0.3s;
  border: 2px solid var(--border-color);
}

.circle:nth-child(1) {
  height: 70%;
  background-color: var(--djPlayer-low-circle-color);
}

.circle:nth-child(2) {
  height: 75%;
  background-color: var(--djPlayer-medium-circle-color);
}

.circle:nth-child(3) {
  height: 82%;
  background-color: var(--djPlayer-high-circle-color);
}

#plate:hover {
  cursor: pointer;
}

@keyframes spinPlate {
  to {
    transform: rotate(360deg);
  }
}