.form {
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.formHeader {
  font-size: 24px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 24px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.icon {
  margin-right: 30px;
  color: #007bff;
  flex-shrink: 0;
  font-size: 25px;
}

input[type="text"] {
  flex-grow: 1;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 20px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

button:hover {
  background-color: #0056b3;
}
